name: NPM Release

on:
  push:
  workflow_dispatch:

jobs:
  release:
    # uses: udx/reusable-workflows/.github/workflows/npm-release-ops.yml@master
    uses: udx/reusable-workflows/.github/workflows/npm-release-ops.yml@npm-release-workflow
    with:
      release_branch: "improvements"
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
