name: NPM Release

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  release:
    uses: udx/reusable-workflows/.github/workflows/npm-release-ops.yml@master
    with:
      release_branch: "master"
      dist_dir: "."
    secrets:
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
